/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.12,
* Autoprefixer: v10.4.4
* Browsers: last 4 version
*/

/*
Colors used:

Text Color (Dark Gray): #2b2b2b;
Primary Color (Purple): #357b70;
Secondary Color (Orange): #e0b354;
 */
:root {
  --primary-color: #5a0aa6;
  --primary-color__lighter: #8e24f2;
  --primary-color__darker: #400776;
  --secondary-color: #d96716;
  --background-color: #ccc;
  --background-color__darker: Grey;
  --text-color__light: #fff;
  --text-color__dark: #000;

  --font-weight__normal: 400;
  --font-weight__thicc: 700;

  --padding__standard: 10px;
  --padding__thin: 5px;
  --margin__standard: 15px;

  --font-size__standard: 16px;

  --responsive-grid__min-width: 500px;
  --responsive-grid__max-width: 750px;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
body {
  background-color: var(--background-color);
  font-family:'Lato', sans-serif;
  font-weight: var(--font-weight__normal);
  font-size: var(--font-size__standard);
  line-height: 1.6;
}

h1 {
  font-size: 30px;
  font-weight: var(--font-weight__thicc);
}

h2 {
  font-size: 24px;
  font-weight: var(--font-weight__thicc);
}

h3 {
  font-size: 18px;
  font-weight: var(--font-weight__thicc);
}

a {
  color: var(--primary-color)
}

a:visited {
  color: var(--primary-color__lighter)
}

a:hover, a:focus {
  text-decoration: none;
}

a:active {
  color: var(--secondary-color)
}

button, .button {
  border: none;
  font-family: inherit;
  background-color: var(--primary-color);
  font-size: var(--font-size__standard);
  color: var(--text-color__light);
  text-decoration: none;
  padding: var(--padding__standard);
  border-radius: 3px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  -webkit-transition-duration: 0.2s;
       -o-transition-duration: 0.2s;
          transition-duration: 0.2s;
  -webkit-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
}

button:hover, button:focus, .button:hover, .button:focus {
  cursor: pointer;
  opacity: 0.8;
}

.button__secondary {
  background-color: var(--secondary-color);
  color: var(--text-color__dark);
}

.navigation-list {
  list-style-type: none;
  margin-right: var(--margin__standard);
}

.navigation-list li {
  display: inline-block;
  margin-left: var(--margin__standard);

}

.navigation-list__item--active {
  text-decoration: none;
}

.profile {
  max-width: 700px;
  margin: 0 auto;
}

.profile__portrait {
  float: left;
  width: 250px;
  height: auto;
  margin-right: 40px;
  border-radius: 50%;
}

.page-footer {
  bottom: 0;
  width: 100%;
  position: fixed;
  clear: both;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  margin-top: var(--margin__standard);
  border-top: var(--padding__thin);
  padding-top: var(--padding__standard);
}

.page-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-height: 100px;
  padding: var(--padding__standard);
}

.page-header__item  {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 200px;
          flex: 0 1 200px;
}

.page-header__item:last-child {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-align: right;
}

.page-header img {
  -o-object-fit: contain;
     object-fit: contain;
}

/* Grid Fallback */
.project-examples__item {
 display: inline-block;
 width: 33%;
}
/* End Grid Fallback */

@supports (display: grid) {
  .project-examples {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns:1fr 20px 1fr 20px 1fr 20px 1fr;
    grid-template-columns:repeat(4, 1fr);
    grid-gap: 20px;
    margin: var(--margin__standard);
  }

  .project-examples__item {
    background-color: var(--background-color__darker);
    width: auto;
    min-height: auto;
    margin: 0;
    padding: 0px var(--padding__thin) 0px var(--padding__thin);
  }

  .project-examples__item h2 {
    text-align: center;
  }

  #project-examples__item--first {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: 1 / 1 / span 2 / span 2;
  }
}

@media all and (max-width: 750px) {
  .project-examples {
    grid-gap: var(--margin__standard);
  }

  h1 {
    font-size: 22px;
  }
}

@media all and (max-width: 500px) {
  .project-examples {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  #project-examples__item--first {
    grid-area: auto / auto / auto / auto;
  }
}


@media all and (min-width: 500px) and (max-width: 750px) {
  .project-examples {
    -ms-grid-columns: 1fr var(--margin__standard) 1fr;
    grid-template-columns: 1fr 1fr;
  }

  #project-examples__item--first {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: 1 / 1 / span 1 / span 2;
  }
}

@-webkit-keyframes roll-on {
   0% {
     opacity: 0;
     -webkit-transform: translateX(-100%) rotate(-120deg);
             transform: translateX(-100%) rotate(-120deg);
   }

   50% {
     opacity: 1;
   }
   100% {
     opacity: 1; -webkit-transform: translateX(0px) rotate(0deg); transform: translateX(0px) rotate(0deg);
   }
}

@keyframes roll-on {
   0% {
     opacity: 0;
     -webkit-transform: translateX(-100%) rotate(-120deg);
             transform: translateX(-100%) rotate(-120deg);
   }

   50% {
     opacity: 1;
   }
   100% {
     opacity: 1; -webkit-transform: translateX(0px) rotate(0deg); transform: translateX(0px) rotate(0deg);
   }
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    /* transform: scale(1); */
  }
  to {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
}

@keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    /* transform: scale(1); */
  }
  to {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
}
#sword-lock {
  -webkit-transform-origin: 51.24% 53.04%;
      -ms-transform-origin: 51.24% 53.04%;
          transform-origin: 51.24% 53.04%;
  -webkit-animation-name: roll-on, spin;
          animation-name: roll-on, spin;
  -webkit-animation-duration: 1s, 1.5s;
          animation-duration: 1s, 1.5s;
  -webkit-animation-iteration-count: 1, 1;
          animation-iteration-count: 1, 1;
  -webkit-animation-direction: normal, normal;
          animation-direction: normal, normal;
  -webkit-animation-delay: 0s, 1.5s;
          animation-delay: 0s, 1.5s;
  -webkit-animation-timing-function: ease-out, ease;
          animation-timing-function: ease-out, ease;
}
